# Configuración de la Aplicación
APP_NAME=Gestor Taller Automotriz API
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000

# Configuración de Oracle Database
DATABASE_HOST=10.206.1.71
DATABASE_PORT=1521
DATABASE_USER=tallerautomotriz_oracledb
DATABASE_PASSWORD=S1lEN4cR8y
DATABASE_NAME=xe

# Configuración de Keycloak (OIDC) - Servidor en 10.206.1.71
KEYCLOAK_SERVER_URL=10.206.1.71
KEYCLOAK_REALM=Arquitectura
KEYCLOAK_CLIENT_ID=03
KEYCLOAK_CLIENT_SECRET=ZBK6hdJqZqAtf4dFla9YBthWgMQVrZqv
KEYCLOAK_AUDIENCE=account

# Configuración de Kafka - Servidor en 10.206.1.71
KAFKA_BROKER=10.206.1.71:8083
KAFKA_CLIENT_ID=gestor-talleres-cluster
