APP_NAME=Gestor Taller Automotriz API
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000

DATABASE_HOST=localhost
DATABASE_PORT=1521
DATABASE_USER=tallerautomotriz_oracledb
DATABASE_PASSWORD=S1lEN4cR8y
DATABASE_NAME=taller_automotriz

KEYCLOAK_SERVER_URL=http://localhost:8080
KEYCLOAK_REALM=talleres-realm
KEYCLOAK_CLIENT_ID=gestor-talleres-api
KEYCLOAK_CLIENT_SECRET=G4S4ir6GjsMuzws5PI59iqxcCljE8YPq
KEYCLOAK_AUDIENCE=account