APP_NAME=Gestor Taller Automotriz API
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000

DATABASE_HOST=10.96.109.71
DATABASE_USER=tallerautomotriz_oracledb
DATABASE_PASSWORD=S1lEN4cR8y
DATABASE_NAME=XE

KEYCLOAK_SERVER_URL=192.168.56.1
KEYCLOAK_REALM=Arquitectura
KEYCLOAK_CLIENT_ID=03
KEYCLOAK_CLIENT_SECRET=ZBK6hdJqZqAtf4dFla9YBthWgMQVrZqv
KEYCLOAK_AUDIENCE=account